@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body,
html {
  background-color: #ffddd2;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.8;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
  position: relative;
  z-index: -10;
}

a {
  text-decoration: none;
  font-style: normal;
  color: inherit;
  transition: color 0.3s ease, transform 0.3s ease;
}

a:hover {
  transform: scale(1.05); /* Легке збільшення кнопки */
  color: var(--color-prime);
}
h2 {
  font-size: 40px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ff7043;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo a {
  display: flex;
  align-items: center;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 500;
}
.logo img {
  width: 70px;
}

.menu nav {
  display: flex;
  gap: 20px;
}
.button img {
  width: 20px;
}
.container {
  margin: 0 auto;
  max-width: 1400px;
  width: 100%;
  padding: 20px;
}
#cookie-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #ff7043; /* Оранжевий фон для контрасту */
  color: white;
  padding: 15px;
  text-align: center;
  z-index: 9999;
  display: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Тінь для ефекту глибини */
  border-radius: 10px 10px 0 0;
  transition: transform 0.3s ease-in-out;
}

#cookie-banner p {
  margin: 0;
  font-size: 16px;
  font-family: "Arial", sans-serif;
}

#cookie-banner button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

#cookie-banner button.decline {
  background-color: #f44336;
}

#cookie-banner button:hover {
  opacity: 0.8;
}

#cookie-banner a {
  color: #4caf50; /* Колір для посилання */
  text-decoration: none;
}

#cookie-banner .cookie-icon {
  font-size: 24px;
  margin-right: 10px;
  vertical-align: middle;
  color: white;
  opacity: 0.8;
}

#cookie-banner .cookie-text {
  display: inline-block;
  vertical-align: middle;
  max-width: 80%;
  text-align: left;
}

/* Анімація для показу банера */
#cookie-banner.show {
  transform: translateY(0);
}

#cookie-banner.hide {
  transform: translateY(100%);
}

/* scroll */
/* Стилізація скролбару на всьому сайті */
::-webkit-scrollbar {
  width: 12px; /* Ширина вертикального скролбару */
  height: 12px; /* Висота горизонтального скролбару */
}

::-webkit-scrollbar-thumb {
  background-color: #2a3d66; /* Колір самого скролбару */
  border-radius: 6px; /* Заокруглені кути */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4b0082; /* Темніше індиго при наведенні */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Колір фону скролбару */
  border-radius: 6px; /* Заокруглені кути */
}

::-webkit-scrollbar-track-piece {
  background-color: #f1f1f1; /* Колір внутрішньої частини треку */
}

@media (max-width: 768px) {
  .container {
    min-width: 300px;
    width: 90%;
  }
}

/* Загальні стилі для бургер-меню */
.burger-menu {
  display: none; /* Ховати бургер-меню на десктопах */
  cursor: pointer;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 999; /* Вищий z-index, щоб бургер-меню було зверху */
}

.burger-line {
  width: 30px;
  height: 4px;
  background-color: #333;
  border-radius: 5px;
}

/* Стилі для меню на мобільних пристроях */
@media (max-width: 768px) {
  #nav-menu {
    /* Тепер звертаємось до id */
    display: none;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: 80px;
    right: 10px;
    background-color: #fff;
    color: #333;
    width: 200px;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 998; /* Зробити menu менше, щоб воно не перекривало бургер */
  }

  /* Стилі для мобільного меню при відкритті */
  #nav-menu.active {
    display: flex; /* Переключаємо на відображення */
    flex-direction: column; /* Розташовуємо елементи вертикально */
  }

  /* Показати бургер-меню на мобільних пристроях */
  .burger-menu {
    display: flex;
  }
}

.container-footer {
  display: flex;
  justify-content: space-between;
}
.policy-menu nav {
  display: flex;
  gap: 20px;
}

/* hero */

.hero {
  position: relative; /* Для позиціонування квіток на фоні */
  padding: 80px 0;
}

/* Малювальні квіти на фоні */
.hero::before,
.hero::after {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: white;
  opacity: 0.4;
  z-index: -1; /* Під усіма елементами */
  animation: flowerAnimation 10s infinite alternate;
}

.hero::before {
  top: 50px;
  left: 30px;
  box-shadow: 0 0 0 50px rgba(67, 240, 3, 0.4),
    /* Пелюстки 1 */ 0 0 0 100px rgba(77, 255, 1, 0.2); /* Пелюстки 2 */
}

.hero::after {
  top: 150px;
  right: 50px;
  box-shadow: 0 0 0 50px rgba(67, 240, 3, 0.4),
    /* Пелюстки 1 */ 0 0 0 100px rgba(77, 255, 1, 0.2); /* Пелюстки 2 */
}

/* Hero Container */
.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

/* Hero Text */
.hero-text {
  flex: 1;
  padding-right: 20px;
}

.hero-text h1 {
  font-size: 40px;
  font-weight: bold;
  color: #ff7043; /* A warm orange color */
  margin-bottom: 20px;
  line-height: 1.2;
}

.hero-text p {
  font-size: 1.2rem;
  color: #555;
  line-height: 1.8;
  margin-bottom: 40px;
}

/* Hero Buttons */
.hero-buttons {
  display: flex;
  gap: 15px;
}

.hero-buttons .button {
  display: inline-flex;
  align-items: center;
  background-color: #ff7043; /* Warm orange button */
  color: white;
  padding: 15px 30px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 1.2rem;
  transition: all 0.3s ease;
  font-family: "PT Sans", sans-serif;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2); /* Зміна тіні при наведенні */
}

.hero-buttons .button:hover {
  background-color: #ff5722; /* Darker orange for hover effect */
}

.hero-buttons .button img {
  width: 24px;
  margin-right: 10px;
}

/* Hero Image */
.hero-img {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center; /* Вирівнюємо зображення по вертикалі */
  overflow: hidden; /* Переконуємось, що нічого не вилазить за межі контейнера */
  border-radius: 8px;
}

.hero-img img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Легка тінь для зображення */
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Додаємо перехід для анімації */
}

.hero-img img:hover {
  transform: scale(1.1); /* Збільшення картинки на 10% */
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3); /* Більша тінь при наведенні */
}

/* about-container */

/* About Section */
#about {
  background-color: #fff4e1; /* Легкий кремовий фон для контрасту з основним */
  padding: 80px 0;
  font-family: "Arial", sans-serif;
  position: relative;
  z-index: 1;
}

/* About Container */
.about-container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  align-items: center;
  margin: 0 auto;
}

/* About Text */
.about-text {
  flex: 1;
  padding-right: 20px;
}

/* About Image */
.about-img {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center; /* Вирівнюємо зображення по вертикалі */
  overflow: hidden; /* Переконуємось, що нічого не вилазить за межі контейнера */
  border-radius: 8px;
}

/* Image styling with animation */
.about-img img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Легка тінь для зображення */
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Додаємо перехід для анімації */
}

/* Hover Effect for Image */
.about-img img:hover {
  transform: scale(1.05); /* Збільшення картинки на 5% при наведенні */
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15); /* Збільшена тінь */
}

.about-text p {
  font-size: 1.2rem;
  color: #555;
  line-height: 1.8;
  margin-bottom: 40px;
}

.about::after {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: white;
  opacity: 0.4;
  z-index: -1; /* Під усіма елементами */
  animation: flowerAnimation 10s infinite alternate;
}

.about::after {
  bottom: 100px;
  right: 350px;
  box-shadow: 0 0 0 50px rgba(67, 240, 3, 0.4),
    /* Пелюстки 1 */ 0 0 0 100px rgba(77, 255, 1, 0.2); /* Пелюстки 2 */
}

/* features */

.features {
  background-color: #fff4e1; /* Легкий кремовий фон для контрасту з основним */
  position: relative;
  z-index: 1; /* Підвищуємо z-index, щоб забезпечити правильний порядок */
}

.features-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 70px;
}

.features-item {
  flex: 1;
  background-color: #ff7043;
  padding: 20px;
  border-radius: 10px;
  color: #f1f1f1;
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.7);
  position: relative; /* Важливо для правильного функціонування z-index */
  z-index: 200;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.features-item:hover {
  transform: translateY(-10px); /* Легкий підйом картки */
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.4); /* Сильніша тінь */
}

.features-item h4 {
  color: #4caf50;
  font-size: 23px;
}

/* How to Play Section */
#how-to-play {
  padding: 80px 0;
  font-family: "Arial", sans-serif;
  position: relative;
}

/* How to Play Container */
.how-to-play-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

/* How to Play Item */
.how-to-play-item {
  flex: 1 1 calc(25% - 30px); /* Встановлюємо ширину картки */
  background-color: #ff7043;
  padding: 30px;
  border-radius: 10px;
  color: #fff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.how-to-play-item h4 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 15px;
}

.how-to-play-item p {
  font-size: 1rem;
  color: #f1f1f1;
  line-height: 1.6;
}

/* Hover Effect */
.how-to-play-item:hover {
  transform: translateY(-10px); /* Легкий підйом картки */
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.4); /* Сильніша тінь */
}

/* Title of the Section */
#how-to-play h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  color: #ff7043;
  margin-bottom: 40px;
  text-transform: uppercase;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .how-to-play-item {
    flex: 1 1 calc(50% - 30px); /* На середніх екранах буде 2 картки в ряд */
  }
}

@media (max-width: 768px) {
  .how-to-play-item {
    flex: 1 1 100%; /* На маленьких екранах картки будуть одна під одною */
  }
}

/* reviews */
/* Reviews Section */
#reviews {
  background-color: #f6f3e7; /* Легкий фон для блоку */
  padding: 80px 0;
  font-family: "Arial", sans-serif;
}

/* Section Title */
#reviews h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  color: #ff7043; /* Колір заголовка */
  margin-bottom: 40px;
  text-transform: uppercase;
}

/* Review Container */
.reviews .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.reviews-container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
/* Review Box */
.review {
  flex: 1;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.review:hover {
  transform: translateY(-10px); /* Легкий підйом при наведенні */
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2); /* Зміна тіні при наведенні */
}

/* Review Title */
.review h3 {
  font-size: 20;
  font-weight: bold;
  color: #333;
  margin-bottom: 15px;
}

/* Review Stars */
.stars {
  color: #ffcc00; /* Золотисті зірочки */
  margin-bottom: 15px;
}

.stars i {
  font-size: 16px;
  margin-right: 5px;
}

/* Review Text */
.review p {
  font-size: 18px;
  color: #555;
  line-height: 1.6;
  font-style: italic;
}

/* down-container */
.download {
  position: relative;
  z-index: 1;
}
.down-container {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  margin: 70px 0;
}
.down-video,
.down-text {
  flex: 1;
}
.down-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
}
/* Стилі для картки відео */
.down-video {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.down-video img {
  width: 100%;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

/* Стиль для кнопки Play */
.play-button {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5); /* Напівпрозорий фон */
  border-radius: 50%;
  padding: 30px 50px;
  transition: opacity 0.3s ease;
  opacity: 0;
}

.play-button:hover .play-icon {
  opacity: 1; /* Показуємо кнопку Play при наведенні */
}

.down-video img:hover {
  transform: scale(1.05); /* Легке збільшення зображення при наведенні */
}

/* footer */

.footer {
  position: relative;
  overflow: hidden;
}
.footer::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  opacity: 0.4;
  z-index: 10; /* Під усіма елементами */
  animation: flowerAnimation 10s infinite alternate;
}

.footer::before {
  position: absolute;
  z-index: 10;
  top: 50px;
  right: 230px;
  box-shadow: 0 0 0 20px rgba(67, 240, 3, 0.4),
    /* Пелюстки 1 */ 0 0 0 40px rgba(77, 255, 1, 0.2); /* Пелюстки 2 */
}

@media (max-width: 768px) {
  .hero-container {
    flex-direction: column;
    gap: 20px;
  }
  .hero-buttons .button {
    padding: 10px;
    min-width: 150px;
    width: 90%;
  }

  .hero-buttons {
    flex-direction: column;
    justify-content: center;
  }
  .button {
    justify-content: center;
  }
  .about-container {
    flex-direction: column;
  }

  .features-container {
    flex-direction: column;
  }
  #how-to-play h2,
  #reviews h2 {
    font-size: 28px;
  }

  .reviews-container {
    flex-direction: column;
  }

  .down-container {
    flex-direction: column;
  }
  h2 {
    line-height: 1.3;
  }

  .hero-text {
    padding: 0;
  }
  .about-text p {
    font-size: 18px;
  }

  .container-footer {
    flex-direction: column;
    align-items: center;
  }

  .container-footer p {
    font-size: 16px;
  }

  .policy-menu nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .footer .header {
    justify-content: center;
  }
  #about {
    padding-bottom: 20px;
  }

  .features-container {
    padding-top: 20px;
  }
}
